<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>

<body class="container">
  <%- include('partials/navbar.ejs') %>
    <main>
        <% if(productos.length > 0){ %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">Titulo</th>
              <th scope="col">Precio</th>
              <th scope="col">Imagen</th>
            </tr>
          </thead>
          <tbody>
                <% productos.forEach((product) => { %>
                <tr>
                  <th><%= product.id %></th>
                  <td><%= product.titulo %></td>
                  <td><%= product.precio %></td>
                  <td><img src="<%= product.url %>" height="50" width="50"></td>
                </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
        <div class="alert container mt-5"> 
          <h1>NO HAY PRODUCTOS</h1>
        </div>
        <% } %>
    </main>
</body>